:root {
    --blanco: #ffffff;
    --azul-oscuro: #103CE0;
    --azul-claro: #1094E0;
    --azul-marino: #07D5E0;
    --azul-morado:#6100E0;
    --negro : #000000;
    --font-parrafo: 16px;
    --font-title: 45px;
    --font-style: 'Rozha One', serif;
}
  body {  
    margin: 0;
    font-family: 'Arial', sans-serif;
  }

  .decoration{
    position: absolute;
    opacity: 15%;
    z-index: -100;
    max-width: 100%;
    min-height: 170vh;
  }
  header {
    background-color: var(--blanco);
    color: var(--blanco);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Asegura que el encabezado esté encima del resto del contenido */
  }
  
  .logo {
    font-size:var(--font-title);
    color:var(--azul-claro);
    margin-left: 5px;
    margin-top: -3px;
    font-family: var(--font-style);
  }
  span{
    color: var(--azul-oscuro);
  }
  nav {
    position: fixed;
    top: 60px; /* Ajusta según la altura del encabezado */
    background-color: var(--azul-oscuro);
    width: 100%;
    height: 60px;
    z-index: 1000; /* Asegura que el menú esté encima del resto del contenido */
    
  }
  .links{
    display: flex;
    justify-content: end;
    align-items: center;
    
  }
  .miniL{
    width: 6%;
    position: absolute;
    top: 2px;
    left: 30px;
  }
  .signOut{
    background-color: var(--azul-oscuro);
    margin-top: -15px;
    padding: 20px 15px 15px 15px;
    border-radius: 0px 0px 23px 23px;
  }
  nav ul {
    padding-top: 15px;
    padding-right: 40px;
  }
  
  nav li {
    display: inline-flex;
    margin-left: 20px;
    padding: 5px;
    
  }
  
  nav a {

    text-decoration: none;
    color: var(--blanco);
    font-weight: bold;
  }
  main {
    margin-top: 85px; /* Ajusta según la altura del encabezado */
    overflow-y: auto; /* Añade una barra de desplazamiento vertical si es necesario */
    width: 100%;
  }
  .banner{
    background-image: url("https://img.freepik.com/fotos-premium/grupo-personas-personal-medico-equipo-medico-enfermera-hospital-concepto-salud-medicina_505557-8012.jpg?w=2000");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    background-position: center;
    display: block;
    border: 1px solid var(--negro);
    border-radius: 0px 0px 25px 25px;
  }
  .anuncio{
    display: flex-block;
    width: 100%;
    position: relative;
    text-align: center;
  }
  .anuncio h2 {
    position: absolute;
    background-color: var(--blanco);
    padding: 0 10px;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--negro);
    border: 1px solid #092c00;
    border-radius: 8px;
  }
  .anuncio img{
    height: auto;
    display: block;
    margin-top: 30px;
    margin-left: 29%;
    width: 42%;
    height: 170px;
    border-radius: 14px;
    border: 4px solid var(--negro);

  }
  
.container{
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.container2 {
    width: 100%;
    margin-top: 70px;

}

.novedad{
    display: flex-block;
    align-items: end;
    text-align: center;
    justify-content: right;
}
.novedad h3 {
    color: var(--azul-morado);
}
.novedad img {
    position: absolute;
    left: 0;
    margin-left: 20px;
    max-width: 30%;
    border-radius: 12px;
    object-fit: cover;
    z-index: -200;
}
.textCont2{
    margin-left: 34%;
    margin-right: 5%;
    text-align: left;
}

  /* Estilo para publicaciones o anuncios laterales */
.item{
    border: 1px solid #092c00;
    padding: 15px;
    border-radius: 8px;
    width: 240px;
    height: 320px;
    text-align: center;
    cursor: pointer;
  }
  
  .item h3{
    font-size: 18px;
    margin-bottom: 10px;
  }

  .item img {
    max-width: 70%;
    border-radius: 12px;
    object-fit: cover;
  }
  
  .item:hover{
    transform: scale(1.003); /* Escala ligeramente al hacer hover */
    box-shadow: 0px 0px 10px var(--azul-claro);
  }
  
  .item p{
    text-align: center;
    
  }

  footer {
    background-color: var(--azul-morado);
    color: var(--blanco);
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    font-size: var(--font-parrafo);
    
  }

  .footer-info {
    margin-bottom: 20px;
  }

  .social-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .social-links li {
    margin: 0 10px;
  }

  .social-links a {
    text-decoration: none;
    color: #fff;
  }

  a:hover{
    color: var(--negro) !important;
  }













  

 /* ESTILOS EXLUSIVOS DE LA PAGINA DE PLANES*/
 .plan{
  border: 1px solid #092c00;
  padding: 5px;
  border-radius: 8px;
  width: 270px;
  height: 640px;
  text-align: center;
  cursor: pointer;
}

.plan h3{
  font-size: 15px;
  margin-bottom: 7px;
}

.plan img {
  max-width: 60%;
  border-radius: 12px;
  object-fit: cover;
}

.plan:hover{
  transform: scale(1.0012); /* Escala ligeramente al hacer hover */
  box-shadow: 0px 0px 10px var(--azul-morado);
}

.plan li{  
  text-align: left;
  list-style-type: none;
  font-size: 13px;
}














/* ESTILOS DE SERVICIOS (MEDICAMENTOS Y CITAS) */
.itemM{
  border: 1px solid #092c00;
  padding: 6px;
  border-radius: 8px;
  width: 280px;
  height: 530px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
}
.item p{
  margin-top: 20px;
}

.itemM h3{
  font-size: 14px;
  margin-bottom: 5px;
}

.itemM img {
  max-width: 40%;
  max-height: 100px;
  border-radius: 12px;
  object-fit: cover;
}

.itemM:hover{
  transform: scale(1.003); /* Escala ligeramente al hacer hover */
  box-shadow: 0px 0px 10px var(--azul-marino);
}

.itemM li{  
  text-align: left;
  list-style-type: none;
  font-size: 13px;
}

.compraB {
  display:grid;
}

.compraB button{
  margin-top: 15px;
  margin-left: 45%;
  width: 10%;
  height: 40px;
  border-radius: 10px;
  background-color: var(--azul-claro);
  border: 1px solid var(--azul-morado);
}

.compraB button:hover {
  background-color: var(--azul-marino);
}

.contenedorCit {
  display: flex;
  
}

.anuncio2{
  display: block;
  width: 100%;
}
.anuncio2 h2 {
  position: absolute;
  background-color: var(--blanco);
  padding: 0 10px;
  top: 160%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--negro);
  border: 1px solid #092c00;
  border-radius: 8px;
}

 .textAnun {
  text-align: center;
 }

 
 .cita-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  margin-top: 100px;
  margin-left: 35%;
}

.cita-form label {
  display: block;
  margin-top: 10px;
  color: #555;
}

.cita-form select,
input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.btn-agendar {
  background-color: #1094E0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}


#resetear {
  margin-bottom: 10px;
  }
  
.botonC{
font-size: 13px;
background-color: rgba(0, 255, 242, 0.89);
}